body{
    border: solid 1px black;
    margin-bottom: 20px;

}
.container{
    border: solid 1px black;
    padding: 20px;
}

.card{
    border: solid 2px purple;
    font-size: 24px;
    margin: 20px;
    height: 16rem;
    width: 18rem;
}
.health{
    color: green;

}
.image{
    max-height: 17rem;
    max-width: 26rem;
    overflow: hidden;
}

.defeated{
    border: solid 4px gray;
    opacity: .50;
}
.hidden{
    display: none;
}

.alert{
    border: 1px solid black;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .60);
    color: white;
    padding: 60px 300px 60px 300px;
    position: fixed;
    top: 35%;
    left: 25%;    
}

a:link{
    text-decoration: none;
    color: white;
}