body{
    border: solid 1px black;

}
.container{
    border: solid 1px black;
    padding: 20px;
}

.card{
    border: solid 2px purple;
    font-size: 24px;
    margin: 20px;
    height: 16rem;
    width: 18rem;
}
.health{
    color: green;
}
.image{
    max-height: 17rem;
    max-width: 26rem;
    overflow: hidden;
}

.hidden{
    display: none;
}